NEXT_PUBLIC_SUPABASE_URL=https://dlnsmywkfqeuqjuwejxp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsbnNteXdrZnFldXFqdXdlanhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxNzg0MjksImV4cCI6MjA3Nzc1NDQyOX0.uABk8KTVbgYIg4GMxXrJfm6E8wE8Ju27lNsfBykoh8o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRsbnNteXdrZnFldXFqdXdlanhwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjE3ODQyOSwiZXhwIjoyMDc3NzU0NDI5fQ.9Fpe0DpXWcluWwu5qRK53lL-BU9mIHnmd90JCOLH3TI